@use "../../styles/global.scss";
@use "../../styles/variables.scss";

.expense-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 20px;

  background: rgba(255, 255, 255, 0.17);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 5px 20px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    p {
      margin: 0px;
      font-family: "Mondapick";
      text-align: start;
    }

    .header {
      .title {
        font-size: 15px;
        font-weight: 600;
      }

      .timestamp {
        font-size: 10px;
      }
    }

    .description {
      font-size: 13px;
    }
  }

  .price {
    font-size: 13px;
  }
}
